/**
 * Structural Gallery Styles
 */

reset()
  margin 0
  padding 0

.gallery-main
  reset()
  width 100%
  position relative
  overflow hidden

  img
    reset()
    position absolute
    -ms-interpolation-mode bicubic

.gallery-caption
  reset()
  width 100%
  position absolute
  bottom 0

.gallery-thumb-reel
  reset()
  position relative

.gallery-thumb-reel-track
  reset()
  width 999999px
  position absolute
  left 0

.gallery-thumb-reel-viewport
  reset()
  overflow hidden
  position absolute
  left 20px
  right 20px

.gallery-thumb-reel-left
.gallery-thumb-reel-right
  reset()
  position absolute
  width 20px

.gallery-thumb-reel-left
  reset()
  left 0

.gallery-thumb-reel-right
  reset()
  right 0

.gallery-thumbnail
  reset()
  float left

/* Debug */
// [class^='gallery']
//   outline 1px solid red
//   *
//     outline 1px solid green
//     *
//       outline 1px solid blue
//         *
//           outline 1px solid yellow